nav{
  background: #333;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 300ms linear;
}
nav.menuActive{
  transform: translateX(0%)
}
.container-menu{
  width: 11rem;
  margin: 0 auto;
  position: relative;
}
.container-menu .close-menu{
  color: #f8f8f8;
  font-size: 25px;
  position: absolute;
  left: 6px;
  top: -15px;
  cursor: pointer;
}
.container-menu .menu-title{
  text-align: center;
  margin-top: 20px;
  color: #e29313;
}
.container-menu .menu-title h3{
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1.4px;
}

.container-menu .menu-list{
  text-align: center;
  margin-top: 30px;
}
.container-menu .menu-list li:first-child{
  border-top: solid 1px #f8f8f842;
  
}
.container-menu .menu-list li{
  padding: 15px 0;
  font-size: 1rem;
  color: #f8f8f8;
  letter-spacing: 1.4px;
  font-weight: 500;
  border-bottom: solid 1px #f8f8f842;
}
.container-menu .menu-list li:hover{
  background: rgba(153, 153, 153, 0.26);
  color: #ecac44;
  cursor: pointer;
}